KnockKnockDesktop/Connected Services/KnockKnockServiceRef/KnockService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60656/KnockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KnockKnockService.Models" />
  <xs:element name="CheckForRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KnockKnockService.Models" minOccurs="0" name="CheckForRequestsResult" nillable="true" type="q1:KnockResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:int" />
        <xs:element minOccurs="0" name="approve" type="xs:boolean" />
        <xs:element minOccurs="0" name="SecToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KnockKnockService.Models" minOccurs="0" name="UpdateRequestResult" nillable="true" type="q2:KnockResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>