KnockKnockDesktop/Connected Services/KnockKnockServiceRef/KnockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="KnockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60656/KnockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60656/KnockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60656/KnockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KnockKnockService.Models" />
      <xsd:import schemaLocation="http://localhost:60656/KnockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KnockKnockService.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKnockService_CheckForRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckForRequests" />
  </wsdl:message>
  <wsdl:message name="IKnockService_CheckForRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckForRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IKnockService_UpdateRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequest" />
  </wsdl:message>
  <wsdl:message name="IKnockService_UpdateRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IKnockService">
    <wsdl:operation name="CheckForRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnockService/CheckForRequests" message="tns:IKnockService_CheckForRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnockService/CheckForRequestsResponse" message="tns:IKnockService_CheckForRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IKnockService/UpdateRequest" message="tns:IKnockService_UpdateRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKnockService/UpdateRequestResponse" message="tns:IKnockService_UpdateRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKnockService" type="tns:IKnockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckForRequests">
      <soap:operation soapAction="http://tempuri.org/IKnockService/CheckForRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <soap:operation soapAction="http://tempuri.org/IKnockService/UpdateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KnockService">
    <wsdl:port name="BasicHttpBinding_IKnockService" binding="tns:BasicHttpBinding_IKnockService">
      <soap:address location="http://localhost:60656/KnockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>